header {
    .navbar-brand {
        &.logo {
            img {
                height: auto;
            }
        }
    }
}

.well{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#graph_header {
    margin-bottom:25px;
}

#graph_header,
#graph_header_affix {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
}
#graph_header a.navbar-brand.logo,
#graph_header_affix a.navbar-brand.logo {
  padding: 0px;
}
#graph_header .navbar,
#graph_header_affix .navbar {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  padding: 20px 0 4px;
}
@media screen and (max-width: 767px) {
  #graph_header .navbar,
  #graph_header_affix .navbar {
    padding: 10px 0 4px;
  }
}
#graph_header .navbar .navbar-nav > li.divider,
#graph_header_affix .navbar .navbar-nav > li.divider {
  border-right: 1px solid #E0E0E0;
}
#graph_header .navbar .navbar-nav > li > a,
#graph_header_affix .navbar .navbar-nav > li > a {
  text-transform: uppercase;
  color: #555555;
  font-weight: 600;
  opacity: 0.8;
}
#graph_header .navbar .navbar-nav > li > a:hover,
#graph_header_affix .navbar .navbar-nav > li > a:hover {
  opacity: 1;
}
#graph_header .navbar .navbar-nav b,
#graph_header_affix .navbar .navbar-nav b {
  font-weight: 600;
}
#graph_header .navbar .navbar-nav > li.active > a,
#graph_header_affix .navbar .navbar-nav > li.active > a,
#graph_header .navbar .navbar-nav > li.active > a:hover,
#graph_header_affix .navbar .navbar-nav > li.active > a:hover,
#graph_header .navbar .navbar-nav > li.active > a:focus,
#graph_header_affix .navbar .navbar-nav > li.active > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #383838;
  opacity: 1;
}
#graph_header .navbar .navbar-nav > li.active > a span,
#graph_header_affix .navbar .navbar-nav > li.active > a span,
#graph_header .navbar .navbar-nav > li.active > a:hover span,
#graph_header_affix .navbar .navbar-nav > li.active > a:hover span,
#graph_header .navbar .navbar-nav > li.active > a:focus span,
#graph_header_affix .navbar .navbar-nav > li.active > a:focus span {
  border-bottom-color: rgba(0, 0, 0, 0) !important;
}
#graph_header .navbar .navbar-nav .navbar-toggle,
#graph_header_affix .navbar .navbar-nav .navbar-toggle {
  margin: 0;
}
#wrapwrap #graph_header_affix {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -200px;
  width: 100%;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #eeeeee;
  -webkit-transition: margin-top 500ms ease;
  -o-transition: margin-top 500ms ease;
  transition: margin-top 500ms ease;
}
#wrapwrap #graph_header_affix .navbar {
  background-color: white;
  padding: 2px 20px;
  font-size: 12px;
}
#wrapwrap #graph_header_affix a.navbar-brand {
  color: #555555;
}
#wrapwrap #graph_header_affix.affixed {
  margin-top: 0px;
  -webkit-transition: margin-top 500ms ease;
  -o-transition: margin-top 500ms ease;
  transition: margin-top 500ms ease;
}

/* Cajas Sistemas de gestión */

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}

.box-title {
    margin-top: -33px;
    height:90px;
    max-height:90px
}

.box-title span {
    font-size: 18px;
    font-weight: 700;
}

.box-text {
    position: relative;
    bottom: -40px;
}

.box-line {
    bottom: -54px;
    height: 8px;
    position: relative;
}

// Sistemas de gestión
.box-line.sg {
    background-color: blue;
}

// Ambientales
.box-line.am {
    background-color: green;
}

// Alimentarias
.box-line.al {
    background-color: orange;
}

// Productos, procesos y servicios
.box-line.pps {
    background-color: brown;
}

.nav-pills a.active .box-part {
    border:10px solid #f5a623
}

// Adaptaciones para mobile
@media only screen and (max-width:600px){

    .nav-pills li {
	    width: 100% !important
    }

    .box-title {
        height:36px
    }

    .box-part {
    	margin-top: 9px;
    	margin-bottom: -10px
    }

}

/* Botones */

.btn-intc {
    border-radius: 0.25rem;
}

.btn.btn-secondary.oe_search_button {
    background-color:#f5a623 !important;
    border-color: #f5a623 !important;
}

.orange {
    background-color:#f5a623 !important;
    border-color:#f5a623 !important;
}

.js_unfollow_btn {
    background-color: #00a0e3 !important;
    border-color:#00a0e3 !important;
    border-radius: 0.25rem !important;
}

/* end.Botones */

.nav-pills .nav-link.active, .nav-pills .nav > li > a.active, .nav-pills .show > .nav-link, .nav-pills .nav > li.show > a {
   background-color: #f5a623;
}

.dropdown-item.active, .dropdown-menu a.active, .dropdown-item:active, .dropdown-menu a:active {
    background-color: #00a0e3 !important;
}

.oe_product_cart a {
    color:black;
}