$intc_color_b: #f5a623;
$intc_color_c: #00a0e3;
$intc_color_g: #393939;
$intc_color_lg: #c3c3c3;
$intc_color_wt: #ffffff;
$o_mm_a30_color_zeta: #00A0E3;
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px

.btn-intc {
    background-color: $intc_color_b;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

html, body, h1, h2 {
 font-family: 'Source Sans Pro', sans-serif;
}

.bgbeta-intc {
    background-color: $intc_color_c !important;
    color: #fff;
}

.text-beta-intc {
    color: $o_mm_a30_color_zeta !important;
}
.color-white-intc {
    color: $intc_color_wt !important;
}

.color-orange-intc {
    color: $intc_color_b !important;
}

.bggamma-intg {
    background-color: $intc_color_g;
    color: $intc_color_lg;
}

.btn-primary:hover{
    background-color: $intc_color_b;
    border-color: rgba(0, 0, 0, 0);
}

.sub_menu_o ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.sub_menu_o li {
    padding-right: 0px;
    padding-left: 0px;
}


.sub_menu_o li a {
    text-align: center;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 0px;
}


.sub_menu_o .active {
    background-color: $intc_color_b;
    color: #ffffff;
}

.sub_menu_o .active:hover {
    background-color: $intc_color_b;
    color: #ffffff;
}

.sub_menu_o li a:hover {
    background-color: #f4f4f4;
    color: #f5a623;
}

a {
    color: #f5a623;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

@mixin s_animated_boxes-main-hook(){}

@mixin s_animated_boxes-item-hook(){}

@mixin s_animated_boxes-slide-hook(){};

@mixin s_animated_boxes-slide_hover-hook(){}

#wrapwrap .s_animated_boxes{
    margin: 0;
    width: 100%;
    overflow: hidden;
    @include s_animated_boxes-main-hook;
    .item {
        height: 200px;
        background-size: cover;
        overflow: hidden;
        text-align: center;
        @include s_animated_boxes-item-hook;
        > * {
            z-index: 0;
            position: relative;
            padding-top: $grid-gutter-width/2;
            padding-bottom: $grid-gutter-width/2;
        }
        .slide {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            left: 0;
            top: 0;
            opacity: 0;
            padding: $grid-gutter-width/2;
            @include transition(opacity 400ms);
            @include s_animated_boxes-slide-hook;
            &.visible{
                opacity: 1;
            }
        }
        &:hover .slide{
            opacity: 1;
            @include transition(opacity 100ms);
            @include s_animated_boxes-slide_hover-hook;
        }

        @media (max-width: 100%) {
            height: auto;
            min-height: 200px;

            &::before {
                content: "";
                display: inline-block;
                height: 100%;
                min-height: 200px;
                vertical-align: middle;
            }

            .v-align {
                display: inline-block;
                width: 98%;
                vertical-align: middle;
                top: auto;
            }
        }
    }
}

body.editor_enable .s_animated_boxes,
#wrapwrap.cke_editable .s_animated_boxes {
    .item:hover .slide {
        display: none;
        opacity: 0;
    }

    .item.showSlide .slide, .item.showSlide:hover .slide {
        display: block;
        opacity: 1;
        transform: translateY(0%)!important;
        transform: translateX(0%)!important;
    }
}

.preserve3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  > *:first-child {
    margin-top: 0;
  }
}

#wrapwrap .s_collapse {
    .panel {
        box-shadow: 0 0 0 rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0);
    }
    .panel-group .panel-heading+.panel-collapse > .panel-body {
        border: 0;
    }
    .panel-heading {
        padding: 0;
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: $font-size-small;
            width: 100%;
            padding: 12px 0;
            display: inline-block;
            &:before {
                content:'\f056';
                font-family: 'FontAwesome';
                margin: 0 12px 0 16px;
            }
            &.collapsed:before {
                content:'\f055';
                font-family: 'FontAwesome';
            }
        }
    }
}

.s_faq_collapse .container .panel {
    background-color: inherit;
    border : 1px solid rgba(0, 0, 0, 0.15);
    .panel-body {
        border-top: none;
        border-bottom-left-radius: (3px);
        border-bottom-right-radius: (3px);
        padding: 15px;
    }
    .panel-heading {
        padding: 10px 15px;
    }
    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }
}

.panel-default > .panel-heading {
    color: #383838;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-group .panel + .panel {
    margin-top: 5px;
}
